/vendor/
composer.lock

/node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/public/assets/*
!/public/assets/.vite/.gitignore
/public/assets/.vite/manifest.json # Re-generated on build

.env
.env.*.local

.idea/
.vscode/
.DS_Store
*.suo
*.user
*.log
Thumbs.db

xdebug-*.log
xdebug.*.log

phpunit.result.cache
.phpunit.result.cache
